.container {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border: solid;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

input {
    width:90%; 
    height: 20px;
} 

button {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    font-size: large;
}